header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-image: url('./../../../../assets/img/bg.jpg');
  background-position: center;

  @media screen and (max-width: 991px) {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }

  @media screen and (min-width: 992px) {
    height: 100vh;
  }

  .custom-navbar-brand {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: black;
      background-color: white;
    }
  }

  .custom-brand {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;


    @media screen and (min-width: 992px) {
      font-size: 2rem;
      text-align: right;
    }

    &:hover {
      color: black;
      background-color: white;
    }
  }

  .navbar-toggler {
    border-radius: 0;
    padding: 0.5rem;
    color: white;
    background-color: black;

    &:hover {
      color: black;
      background-color: white;
    }
  }
}

