form {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;

  label {
    text-transform: uppercase;
    font-weight: bold;
  }

  input[type=search] {
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }
}
